##*** .gitignore - Untracking file list for Git ***********************
##
## Copyright © 2014 Shuang Feng and Hongjiu Zhang
##
## All rights reserved
##

##** Global ***********************************************************

## Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

## C/C++
*.o

## Flex and Yacc
lex.yy.c
y.output
y.tab.c
y.tab.h

## Executable
dcc
